<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APS_FOR_PRODUCTION</key>
<!--	<string>0</string>-->
    <string>1</string>
	<key>APP_KEY</key>
	<string>b0cb764764c796e00f6a643c</string>
	<key>CHANNEL</key>
	<string>doushi</string>
</dict>
</plist>
