<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>229748648795-ticcutc74db4tej78p83k0iqq12n9cp6.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.229748648795-ticcutc74db4tej78p83k0iqq12n9cp6</string>
        <key>API_KEY</key>
        <string>AIzaSyBMnRSOErSUyPvFa2jpozyRse4aTALTRzY</string>
        <key>GCM_SENDER_ID</key>
        <string>229748648795</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>net.itjh.TouTiao</string>
        <key>PROJECT_ID</key>
        <string>admob-app-id-9871422737</string>
        <key>STORAGE_BUCKET</key>
        <string>admob-app-id-9871422737.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <false/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:229748648795:ios:c683d27897c66d1b</string>
        <key>DATABASE_URL</key>
        <string>https://admob-app-id-9871422737.firebaseio.com</string>
    </dict>
</plist>
